{% extends "base_page.html" %}

{% block content %}

<form action="main_page" method="POST">
    {% csrf_token %}
    <textarea rows="1" cols="50" id="your_question" name="your_question" placeholder="Your question"></textarea><br>
    <textarea rows="4" cols="50" id="body" name="body" placeholder="Body(optional)"></textarea><br>
    <input type="submit" value="ASK QUESTION"> 
</form>


{% comment %}
    next step is going to check if the database work for my built sytem or app. Go to create models and datas and test them out in my shell.
{% endcomment %}

{% endblock %}